* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-height {
  min-height: 100vh;
}

a {
  text-decoration: none !important;
  color: black !important;
}

ul {
  padding: 0;
  padding-left: 0 !important;
  list-style-type: none;
}
